<%- include("../partials/header") %>

<div class="container my-4">
  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4 text-dark">Thêm Nhà cung cấp</h2>
      <form action="/suppliers" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Tên</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Tên" required>
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
        </div>

        <button type="submit" class="btn btn-success w-100 mt-3">Thêm</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
