<%- include("partials/header") %>
  <h1>Trang chủ</h1>
  <ul>
    <li><a href="/suppliers">Quản lý Nhà cung cấp</a></li>
    <li><a href="/products">Quản lý Sản phẩm</a></li>
  </ul>
<%- include("partials/footer") %>
