<%- include("partials/header") %>

<div class="container my-5 text-center">
  <h1 class="mb-5 text-dark">Trang chủ</h1>

  <div class="d-flex flex-column align-items-center gap-3">
    <a href="/suppliers" class="btn btn-primary btn-lg w-50">Quản lý Nhà cung cấp</a>
    <a href="/products" class="btn btn-primary btn-lg w-50">Quản lý Sản phẩm</a>
  </div>
</div>

<%- include("partials/footer") %>
