<%- include("../partials/header") %>

<h2>Thêm Sản phẩm</h2>
<form action="/products" method="POST">
  <label>Tên</label>
  <input type="text" name="name" placeholder="Tên sản phẩm" required>

  <label>Giá</label>
  <input type="number" step="0.01" name="price" placeholder="Giá">

  <label>Số lượng</label>
  <input type="number" name="quantity" placeholder="Số lượng">

  <label>Nhà cung cấp</label>
  <select name="supplier">
    <option value="">-- Chọn nhà cung cấp --</option>
    <% suppliers.forEach(s => { %>
      <option value="<%= s._id %>"><%= s.name %></option>
    <% }) %>
  </select>

  <button type="submit">Thêm</button>
</form>

<%- include("../partials/footer") %>
